.cherita-app {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;

  .cherita-navbar {
    @extend .m-3;
    @extend .d-block;
    @extend .d-xl-none;

    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0.25rem;

    @media (width >= 992px) and (width <= 1199px) {
      margin-left: calc(33.3333% + 1rem) !important;
    }
  }
}

.cherita-app-obs {
  @extend .col;
  @extend .d-none;
  @extend .d-lg-block;
  @extend .col-lg-4;
  @extend .col-xl-3;
  @extend .col-xxl-3;

  overflow-y: auto;
}

.cherita-app-sidebar {
  @extend .d-none;
  @extend .d-xl-flex;

  height: 100%;
  width: 20%;
  position: relative;

  .card {
    width: 100%;
    height: 100%;
  }

  .card-body {
    @extend .p-0;

    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .accordion-header-wrapper {
    cursor: pointer;
    padding: var(--geeks-accordion-btn-padding-y)
      var(--geeks-accordion-btn-padding-x);
    color: var(--geeks-accordion-btn-color);
    background-color: var(--geeks-accordion-btn-bg);
    border: 0;
    border-radius: 0;
    transition: var(--geeks-accordion-transition);
    display: flex;
    align-items: center;
    width: 100%;

    &::after {
      content: '';
      flex-shrink: 0;
      width: var(--geeks-accordion-btn-icon-width);
      height: var(--geeks-accordion-btn-icon-width);
      margin-left: 8px;
      background-image: var(--geeks-accordion-btn-icon);
      background-repeat: no-repeat;
      background-size: var(--geeks-accordion-btn-icon-width);
      transition: var(--geeks-accordion-btn-icon-transition);
    }
  }

  .accordion-header-wrapper:not(.collapsed) {
    color: var(--geeks-accordion-active-color);
    background-color: var(--geeks-accordion-active-bg);

    &::after {
      background-image: var(--geeks-accordion-btn-active-icon);
      transform: var(--geeks-accordion-btn-icon-transform);
    }
  }
}

.sidebar-pseudospatial {
  padding: 10px;
  border-bottom: 1px solid #dee2e6;

  .cherita-legend {
    margin: 0 auto;
  }
}

.sidebar-features {
  padding: 10px;
  margin-bottom: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;

  .sidebar-features-list {
    position: relative;
    flex-grow: 1;
    min-height: 0;
  }
}

.offcanvas-vars {
  .offcanvas-header {
    @extend .pb-0;
  }

  .offcanvas-body {
    @extend .pt-1;

    display: flex;
    flex-direction: column;
    height: 100%;

    .sidebar-features {
      @extend .px-0;
    }
  }
}

.search-modal-info {
  overflow-y: auto;
}

.cherita-app-canvas {
  position: relative;

  .cherita-plot {
    position: relative;
    height: 100%;
    min-height: 400px;
  }
}

.cherita-app-container {
  @extend .p-0;

  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;

  .cherita-app-obs {
    flex: 0 0 auto;
    min-width: 350px;
    max-width: 20%;
    overflow-y: auto;
  }

  .cherita-app-canvas {
    @extend .p-0;

    flex: 1 1 auto;
    min-width: 375px;
    position: relative;
    max-height: 100%;
    display: flex;
    flex-direction: column;

    .cherita-navbar {
      @extend .m-0;
      @extend .d-block;

      position: relative;
    }
  }

  .cherita-app-sidebar {
    flex: 0 0 auto;
    min-width: 350px;
    max-width: 20%;
    position: relative;
  }

  @media (width <= 1400px) {
    .cherita-app-obs,
    .cherita-app-sidebar {
      max-width: 25%;
    }
  }
}
