// Plotly modebar customisation
.js-plotly-plot {
  .plotly {
    .modebar {
      top: 16px;
      right: 12px;

      // Each button group in the modebar
      .modebar-group {
        @extend .bg-primary;
        @extend .mx-1;

        border-radius: 5px;
        padding: 4px !important;

        // Individual buttons
        .modebar-btn {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          position: relative;
          font-size: 1.25rem;
          padding: 0.25rem;
          height: auto;
          cursor: pointer;
          line-height: normal;

          svg {
            position: relative;
            top: 1px;

            path {
              fill: white !important;
              color: white !important;
            }
          }
        }
      }

      // Hover effect for modebar buttons except watermark
      &--hover > :not(.watermark) {
        opacity: 1;
        transition: opacity 0.3s;
      }
    }
  }
}

.cherita-plot {
  .plotly-toolbar {
    position: absolute;
    z-index: 10;
    top: 16px;
    left: 16px;
  }
}
