.cherita-spatial-controls {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 10;
  width: 2.65rem;

  .btn {
    display: flex;
    justify-content: center;
  }

  &.is-compact {
    width: 2rem;
  }
}

.plotselector {
  padding: 0 10px;
  border-bottom: 1px solid #dee2e6;

  // Individual plot selector icons
  .plotselector-icon {
    padding: 6px;
    cursor: pointer;
  }
}
