@use "bootstrap/scss/bootstrap" with (
  $primary: #0071a7,
  $secondary: #061826,
  $body-bg: #fff,
  $body-color: #333,
  $breadcrumb-divider: quote(">"),
  $breadcrumb-padding-y: 3px,
  $breadcrumb-padding-x: 10px,
  $breadcrumb-margin-bottom: 0,
  $breadcrumb-bg: #f8f9fa,
  $accordion-button-active-bg: #e7edf0,
  $dropdown-border-color: none
);

@import "@haniffalab/cherita-react/scss/cherita";
